// ミキ


.title {
    font-size: 40px;
    text-align: center;
    justify-content: center;
    font-weight: 800;
}

.company {

    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 70px;

    // justify-content: space-evenly;

    .company-left {
        margin-right: 70px;
        padding: 40px;
    }

    .company-title {
        font-size: 40px;
    }

    .details {
        font-size: 18px;
    }

    .company-info {
        font-size: 16px;
    }

}

.googlemap {
    width: 400px;
    height: 400px;
}

.footer {
    background-color: black;
    color: white;
    font-size: 12px;
    height: 61.54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:767px) {

    .title {
        font-size: 25px;
    }

    .company {
        flex-direction: column;
        align-items: center;

        .company-left {
            margin-right: 0px;
            padding: none;
        }

        .company-title {
            font-size: 24px;
        }

        .details {
            font-size: 20px;
        }

        .company-info {
            font-size: 15px;
        }

    }

    .googlemap {
        max-width: fit-content;
        width: 85vw;
        height: 230px;
    }

    .footer {
        font-size: 20px;
    }


}


.fadein7 {
    transition: all 1s ease;
    opacity: 1;

}

.fadein7.hide7 {

    opacity: 0;
    transform: translateY(100px);
}